<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
    </encoder>
    <immediateFlush>false</immediateFlush>
  </appender>
  <!-- Set to DEBUG to see failed WebSocket checks, TRACE for all frames. -->
  <logger name="io.gatling.http.action.ws" level="${WS_LOG_LEVEL:-WARN}"/>
  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
